<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="JainDirect">

	<listeners>
		<listener class-name="com.jaindirect.utilities.Reporting" />
	</listeners>

	<test name="Jain Direct Project Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.jaindirect.testCases.TC001_JDLoginWithEmail" />
			<!--  <class name="com.inetbanking.testCases.TC_LoginDDT_002" />-->

		</classes>

	</test>

</suite>